@font-face {
    font-family: 'outfit';
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'outfit';
    font-weight: 100, lighter;
    src: url('./assets/fonts/outfit/static/Outfit-Thin.ttf');
}

@font-face {
    font-family: 'outfit';
    font-weight: 200;
    src: url('./assets/fonts/outfit/static/Outfit-ExtraLight.ttf');
}

@font-face {
    font-family: 'outfit';
    font-weight: 300;
    src: url('./assets/fonts/outfit/static/Outfit-Light.ttf');
}

@font-face {
    font-family: 'outfit';
    font-weight: 400;
    src: url('./assets/fonts/outfit/static/Outfit-Regular.ttf');
}

@font-face {
    font-family: 'outfit';
    font-weight: 500;
    src: url('./assets/fonts/outfit/static/Outfit-Medium.ttf');
}

@font-face {
    font-family: 'outfit';
    font-weight: 600;
    src: url('./assets/fonts/outfit/static/Outfit-SemiBold.ttf');
}

@font-face {
    font-family: 'outfit';
    font-weight: bold, 700;
    src: url('./assets/fonts/outfit/static/Outfit-Bold.ttf');
}

@font-face {
    font-family: 'outfit';
    font-weight: bolder, 800;
    src: url('./assets/fonts/outfit/static/Outfit-Bold.ttf');
}

@font-face {
    font-family: 'outfit';
    font-weight: 900;
    src: url('./assets/fonts/outfit/static/Outfit-Black.ttf');
}

@font-face {
    font-family: 'young-serif';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

:root {
    --background-color: white;
    --list-color: rgb(144, 72, 72);
    --emphasize: rgb(103, 103, 103);
    --prep-time-text: rgb(105, 3, 105);
    --horizontal-line: gainsboro;
}

body {
    font-family: 'outfit', 'young-serif', Courier, monospace;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(136, 136, 136);
}

main {
    width: 50%;
    background-color: var(--background-color);
    padding: 40px;
    border-radius: 20px;

    @media (min-width: 769px) and (max-width: 1024px) {
        padding: 25px;
    }

    @media (min-width: 426px) and (max-width: 768px) {
        padding: 20px;
        width: 75%;
    }

    @media (min-width: 376px) and (max-width: 426px) {
        padding: 15px;
        width: 90%;
    }

    @media (max-width: 376px) {
        padding: 10px;
        width: 100%;
    }

}

h1 {
    font-family: 'young-serif';
    color: rgb(63, 63, 63);
}

.preparation_time {
    background-color: rgb(255, 244, 246);
    font-weight: 500;
    padding: 20px;
    border-radius: 10px;

    p {
        color: var(--prep-time-text);
        font-size: large;
        font-weight: 400;
    }

    li {
        margin-top: 10px;
        padding-left: 20px;
    }

    li::marker {
        color: var(--prep-time-text);
    }
}

span {
    color: var(--emphasize);
    font-weight: 400;
}

ol,
ul {
    padding-left: 25px;
}

.image {
    width: 100%;
    border-radius: 30px;

    @media (min-width: 769px) and (max-width: 1024px) {
        border-radius: 15px;
    }

    @media (min-width: 425px) and (max-width: 768px) {
        border-radius: 10px;
    }

    @media (min-width: 320px) {
        border-radius: 8px;
    }

    @media (max-width: 320px) {
        border-radius: 5px;
    }
}

.summary {
    font-weight: 500;
}

section {
    font-weight: 500;

    h2 {
        font-family: 'young-serif';
        color: var(--list-color);
        font-weight: 400;
    }

    ol,
    ul {
        padding-bottom: 40px;
        border-bottom: 2px solid var(--horizontal-line);
    }

    li::marker {
        color: var(--list-color);
    }

    li {
        padding-left: 15px;
        margin-top: 15px;
    }

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}


tr {
    td {
        padding-bottom: 15px;
        padding-top: 15px;
        border-bottom: 2px solid var(--horizontal-line);
    }

}

table tr:nth-child(4) {
    border-bottom: 3px solid var(--background-color);
}

tr td:nth-child(1) {
    padding-left: 35px;
    width: 45%;
}


tr :nth-child(2) {
    color: var(--list-color);
    font-weight: 400;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}