@font-face {
    font-family: 'outfit';
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'outfit';
    font-weight: 100, lighter;
    src: url('./assets/fonts/outfit/static/Outfit-Thin.ttf');
}

@font-face {
    font-family: 'outfit';
    font-weight: 200;
    src: url('./assets/fonts/outfit/static/Outfit-ExtraLight.ttf');
}

@font-face {
    font-family: 'outfit';
    font-weight: 300;
    src: url('./assets/fonts/outfit/static/Outfit-Light.ttf');
}

@font-face {
    font-family: 'outfit';
    font-weight: 400;
    src: url('./assets/fonts/outfit/static/Outfit-Regular.ttf');
}

@font-face {
    font-family: 'outfit';
    font-weight: 500;
    src: url('./assets/fonts/outfit/static/Outfit-Medium.ttf');
}

@font-face {
    font-family: 'outfit';
    font-weight: 600;
    src: url('./assets/fonts/outfit/static/Outfit-SemiBold.ttf');
}

@font-face {
    font-family: 'outfit';
    font-weight: bold, 700;
    src: url('./assets/fonts/outfit/static/Outfit-Bold.ttf');
}

@font-face {
    font-family: 'outfit';
    font-weight: bolder, 800;
    src: url('./assets/fonts/outfit/static/Outfit-Bold.ttf');
}

@font-face {
    font-family: 'outfit';
    font-weight: 900;
    src: url('./assets/fonts/outfit/static/Outfit-Black.ttf');
}

@font-face {
    font-family: 'young-serif';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
}


body {
    font-family: 'outfit', 'young-serif', Courier, monospace;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}